<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Locations</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <link th:href="@{/css/home.css}" rel="stylesheet" />

</head>
<body>

<span>film-locations</span>
<div class="input-container">
    <img id="poster" src="https://wallpaperaccess.com/full/2496906.jpg">
    <div class="gradient"></div>
    <input id="titleInput" type="text" autofocus="autofocus" placeholder="enter movie title">
</div>

<div class="map-container">
    <div id="mapid"></div>
</div>
</body>

<script type="text/javascript" th:src="@{/js/home.js}"></script>
</html>